<div class="container mt-3">
   <div class="row">
      <div class="col text-center">
         <img
            src="img/2020-07-10-07.49.07-1-1024x683.png"
            alt="Ade Muhammad Nur Fauzi"
            class="img-thumbnail rounded-circle"
            width="200px;"
         />
         <h1 class="display-4">Ade Muhammad Nur Fauzi</h1>
         <h3 class="display-8">Student</h3>
      </div>
   </div>
</div>
